<html layout:decorate="~{layout.html}">

<head>
    <title>도서 목록 | SYR 도서관</title>
</head>

<body>

<main layout:fragment="main">
    <div class="flex flex-col max-w-2xl">
        <div class="alert shadow-lg w-96" th:if="${#lists.isEmpty(books)}">
            <span>등록된 도서가 없습니다.</span>
        </div>

        <ul th:if="${!#lists.isEmpty(books)}">
            <li th:each="book: ${books}">
                <div class="card w-96 bg-base-100 shadow-xl">
                    <div class="card-body">
                        <h2 class="card-title" th:text="${book.getTitle()}"></h2>
                        <h3 th:text="${book.getAuthor()}"></h3>
                        <div class="card-actions justify-end">
                            <a href="|/loan/borrow/${book.getId()}|" class="btn btn-primary">대출</a>
                            <a href="|/book/modify/${book.getId()}|" th:if="${@rq.isAdmin()}" class="btn btn-primary">수정</a>
                            <a href="|/book/delete/${book.getId()}|" th:if="${@rq.isAdmin()}" class="btn btn-primary">삭제</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</main>

</body>

</html>