<html layout:decorate="~{layout.html}">

<head>
    <title>도서 수정 | SYR 도서관</title>
</head>

<body>

<main layout:fragment="main">
    <script>
        function Validation__book(form) {
            if (form.title.value.length === 0) {
                toastWarning("도서 제목을 입력해주세요.");
                form.title.focus();
                return;
            }

            if (form.author.value.length === 0) {
                toastWarning("저자 이름을 입력해주세요.");
                form.author.focus();
                return;
            }

            form.submit();
        }
    </script>

    <div class="flex flex-col max-w-2xl min-w-full">
        <form th:action="@{/book/modify}" method="post" onsubmit="Validation__book(this); return false;">
            <div class="input input-bordered mt-12 form-control">
                <span th:text="|기존 제목 : ${book.getTitle()}|"></span>
                <input type="text" placeholder="도서 제목" name="title" id="title">
            </div>
            <div class="input input-bordered mt-12 form-control">
                <span th:text="|기존 저자 : ${book.getAuthor()}|"></span>
                <input type="text" placeholder="저자 이름" name="author" id="author">
            </div>
            <select class="select select-bordered w-full mt-12 form-control">
                <option th:each="category: ${categories}" th:text="${category.getName()}"></option>
            </select>
            <button type="submit" class="btn btn-active btn-primary w-full mt-12">저장하기</button>
        </form>
    </div>
</main>

</body>

</html>