<div class="container my-3">
    <form th:action="@{/member/signup}" method="post">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                아이디 또는 비밀번호를 확인해 주세요.
            </div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">아이디</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" name="password" id="password1" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">확인 비밀번호</label>
            <input type="password" name="password" id="password2" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="text" name="username" id="email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">휴대폰 번호</label>
            <input type="text" name="username" id="phoneNumber" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>