<html layout:decorate="~{layout.html}">

<head>
    <title>카테고리 | SYR 도서관</title>
</head>

<body>

<main layout:fragment="main">
    <div class="flex flex-col max-w-2xl">
        <div class="alert shadow-lg w-96" th:if="${#lists.isEmpty(categories)}">
            <span>등록된 카테고리가 없습니다.</span>
        </div>

        <ul th:if="${!#lists.isEmpty(categories)}">
            <li th:each="category: ${categories}">
                <div class="card w-96 bg-base-100 shadow-xl m-10">
                    <div class="card-body">
                        <div class="card-actions justify-end">
                            <a th:href="@{/category/modify/{id}(id=${category.getId()})}" class="btn btn-sm">
                                수정
                            </a>
                            <a th:href="@{/category/delete/{id}(id=${category.getId()})}" class="btn btn-sm">
                                삭제
                            </a>
                        </div>
                        <p th:text="${category.getName()}"></p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</main>

</body>

</html>