<html layout:decorate="~{layout.html}">

<head>
    <title>관리자 메인 | SYR 도서관</title>
</head>

<body>

<main layout:fragment="main">
    <div class="flex flex-col max-w-2xl">
        <a href="/adm/members" class="btn btn-primary w-96 mt-12">전체 회원 목록</a>
        <a href="/adm/loans" class="btn btn-primary w-96 mt-12">전체 대출 기록</a>

        <a href="/book/list" class="btn btn-primary w-96 mt-12">도서 목록</a>
        <a href="/book/create" class="btn btn-primary w-96 mt-12">도서 등록</a>

        <a href="/category/list" class="btn btn-primary w-96 mt-12">카테고리 목록</a>
        <a href="/category/create" class="btn btn-primary w-96 mt-12">카테고리 생성</a>
    </div>
</main>

</body>

</html>