<!DOCTYPE html>
<html data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/87140d707c.js" crossorigin="anonymous"></script>
    <script src="/resource/common/common.css"></script>
    <script src="/resource/common/common.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">
</head>

<body class="flex flex-col">
<nav class="flex-none navbar bg-base-100 flex drop-shadow-md">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost btn-circle">
                <i class="fa-solid fa-bars"></i>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li th:if="${@rq.logout}">
                    <a href="/member/login">로그인</a>
                </li>
                <li th:if="${@rq.login}">
                    <a href="/book/list">
                        <i class="fa-solid fa-book"></i>
                        <span>나의 대출 목록</span>
                    </a>
                </li>
                <li th:if="${@rq.login}">
                    <a href="javascript:" onclick="$(this).next().submit();">로그아웃</a>
                    <form class="!hidden" hidden th:action="|/member/logout|" method="POST"></form>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-center justify-content hidden sm:block">
        <a href="/" class="btn btn-ghost normal-case">SYR Library</a>
    </div>
    <div class="navbar-end pr-4">
        <a href="/book/list" th:if="${@rq.login}" class="btn btn-ghost btn-circle">
            <i class="fa-solid fa-book"></i>
        </a>
        <a href="/member/login" th:if="${@rq.logout}" class="btn btn-ghost">
            로그인
        </a>
        <a href="/member/signup" th:if="${@rq.logout}" class="btn btn-active btn-sm">
            회원가입
        </a>
    </div>
</nav>

<div class="flex flex-col items-center justify-center min-h-screen min-w-full">
    <main layout:fragment="main"></main>
</div>

<footer class="flex-none bg-gray-100 py-8">
    <div class="container mx-auto text-center">
        <p><i class="fa-regular fa-copyright"></i> 2023 <b>SYR Library</b>. All rights reserved.</p>
    </div>
</footer>

<script th:inline="javascript">
    if (params.msg) {
        toastNotice(params.msg[0]);
    }

    if (params.errorMsg) {
        toastWarning(params.errorMsg[0]);
    }

    // history.back 에 의해서 돌아온 경우에 실행됨
    // 평소에도 실행됨
    $(window).bind("pageshow", function (event) {
        const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;

        if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
            toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
            localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
        } else {
            const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___null";

            if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
            }
        }
    });
</script>

</body>
</html>