<html layout:decorate="~{layout.html}">

<head>
    <title>나의 대출 목록 | SYR 도서관</title>
</head>

<body>

<main layout:fragment="main">
    <div class="flex flex-col max-w-2xl">
        <div class="overflow-x-auto">
            <table class="table w-full">
                <div class="alert shadow-lg w-96" th:if="${#lists.isEmpty(loans)}">
                    <span>대출 기록이 없습니다.</span>
                </div>
                <thead th:if="${!#lists.isEmpty(loans)}">
                <tr th:each="loan: ${loans}">
                    <th>Id</th>
                    <th>Book Title</th>
                    <th>Author</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <tr th:text="${loan.getId()}"></tr>
                <td th:text="${loan.getBook().getTitle()}"></td>
                <td th:text="${loan.getBook().getAuthor()}"></td>
                <td th:text="${loan.getCreateDate()}"></td>
                <td>
                    <a class="btn btn-sm" onclick="document.getElementById('return').submit();">반납</a>
                    <form id="return" th:action="@{/loan/return/{id}(id=${book.getId()})}" method="post" hidden></form>
                </td>
                </tr >
                </tbody>
            </table>
        </div>
    </div>
</main>

</body>

</html>